# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data lớn
data/raw/*
data/processed/*
outputs/indexes/*
outputs/results/*
outputs/reports/*

# Nhưng vẫn giữ file README nếu cần
!data/raw/README.md
!data/processed/.gitkeep
!data/sample/.gitkeep
!outputs/reports/.gitkeep

# Hugging Face cache nếu có
.cache/